.ant-layout-header {
  background-color: #f5f7f5 !important;
  border-bottom: solid #d2d4d0;
  border-width: 1px;
}

.app-body {
  padding: 20px 50px;
}

.site-card-wrapper {
  padding: 20px;
  margin-left: 30px;
  background: #ececec;
}


#main {
  display: flex;
  justify-content: center;
}


