.ant-layout-header {
  background-color: #f5f7f5 !important;
  border-bottom: solid #d2d4d0;
  border-width: 1px;
}

.app-body {
  padding: 20px 50px;
}


#main {
  display: flex;
  justify-content: center;
}

.ant-card-body {
  padding: 0px !important;
}

.ant-card-meta-title {
  margin-bottom: 2px !important;
}

#match-btn {
  width: fit-content;
  padding: 0px 10px 0px 8px;
  font-size: 9pt;
  margin-top: 0px !important;
  margin-left: 20px;
  height: 21px;
}

.ant-card-meta {
  display: inherit !important;
}