.subs-card {
  height: 350px;
  width: 290px !important;
  text-align: center !important;
  padding-top: 20px !important;
}

.bg {
  background-image: url('../../../assets/images/index-bg.png');
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0 !important;
}